DB_NAME=finance
DB_USER=krishna
DB_PASSWORD=1122
DB_HOST=db.db-net
DB_PORT=5432


KITE_API_KEY=your api key
KITE_API_SECRET=your secret key
KITE_USER_ID=****
KITE_PASSWORD=*****
KITE_TOTP_KEY=******

# Refer ntfy docs for install and subcribe to a topic eg: scheduluer-alerts or scheduler, if its local hosting use http. notifications will work properly at this point.
SCHEDULER_NTFY_URL=https://ntfy.krishna.quest/scheduler-alerts