databases
fastapi
requests
httpx
#numpy<1.24
numpy
pandas
pandas_market_calendars
plotly
psycopg2
pydantic
pyotp
python-dotenv
pytz
scipy
SQLAlchemy
starlette
uvicorn
yfinance
python-multipart
asyncpg
alembic
kiteconnect
indexed-gzip
redis
mibian
numba
PyJWT
pytest
